<div id="show-container">

  <h1>詳細ページ</h1>

  <div class="wrap">

    <div class="title-wrap">
      <h3>タイトル</h3>
      <p><%= @book.title %></p>
    </div>

    <div class="body-wrap">
      <h3>感想</h3>
      <p><%= @book.body %></p>
    </div>

    <div class="link_to">
      <%= link_to '編集', edit_book_path(@book) %>
      <%= link_to '一覧へ戻る', books_path %>
    </div>

  </div>

</div>