<h1>Books#show</h1>
<h1>詳細ページ</h1>

<p>タイトル</p>
<span><%= @book.title %></span>
<p>感想</p>
<span><%= @book.body %></span>


<%= link_to '編集', edit_book_path(@book) %>
<%= link_to '一覧へ戻る', books_path %>
