<div id="top">
<div class="top-container">
<h1 class="top-page-title">ようこそ <spna class="Bookers">Bookers</spna> へ！</h1>
<div class="link-wrap"><%= link_to "ここをクリック", books_path, method: :get %></div>
</div>
</div>