<div id="top-container">

  <h1 class="top-page-title">
      <spna class="Bookers">Bookers</spna> へようこそ！
  </h1>
  
  <p>ここでは、あなたが読んだ本の内容や感想を共有する事が出来ます！</p>
  
  <%= link_to "こちらからどうぞ！", books_path, method: :get %>

</div>