// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#error_explanation {

  width: 60%;
  border: 2px solid red;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul {
    margin: 40px 0 40px 15%;
  }

  li {
    list-style-position: inside;
  }

  h2 {
    ftext-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    background-color: #c00;
    color: #fff;
  }

}

.field_with_errors {

  padding: 2px;
  background-color: red;
  display: table;

  h2 {
    padding: 0;
    background-color: red;
  }

}

body {

  width: 80%;
  margin: 0 auto;
  padding-top: 20px;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 12px;
  }

}

#top-container {

  text-align: center;

  p {
    line-height: 150px;
  }

  a {
    margin-top: 50px;
  }

}

#books-container {

  table {

    border-collapse: collapse;
    width: 100%;
    margin: 50px auto 80px auto;

    thead {
      border-bottom: 2px solid;

      th {
        height: 60px;
        text-align: left;
        padding-left: 10px;
      }
    }

    tbody {

      tr {
        height: 50px;
      }

      tr:nth-child(odd) {
        background: #E0FFFF;
      }

      tr:nth-child(even) {
        background: #FFFFE0;
      }

      td {
        padding-left: 10px;
      }

    }

  }

  .field-wrap {
    margin-top: 20px;
  }

  label {
    display: block;
  }

}
