// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flash-message-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4169e1;
  color: #fff;

  .flash-message {
    width: 80%;
    margin: 0 auto;
  }

}

#error_explanation {

  width: 60%;
  border: 2px solid red;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul {
    margin: 40px 0 40px 15%;
  }

  li {
    list-style-position: inside;
  }

  h3 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    background-color: #c00;
    color: #fff;
  }

}

.field_with_errors {

  padding: 2px;
  background-color: red;
  display: table; // これが無いと枠のサイズが狂う
  h3 {
    padding: 0;
    background-color: red;
  }

  label {
    color: #fff;
  }

}

#main-container {

  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  font-family: 'Yusei Magic', sans-serif;

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

}

#top-container {

  text-align: center;

  p {
    line-height: 150px;
  }

}

#books-container {

  table {

    border-collapse: collapse; // これがないと白く隙間が空いてしまう
    width: 100%;
    margin: 50px auto 80px auto;

    thead {
      border-bottom: 2px solid;

      th {
        height: 60px;
        text-align: left;
        padding-left: 10px;
      }
    }

    tbody {

      tr {
        height: 50px;
      }

      tr:nth-child(odd) {
        background: #E0FFFF;
      }

      tr:nth-child(even) {
        background: #FFFFE0;
      }

      td {
        padding-left: 10px;
      }

    }

  }

  .field-wrap {
    margin-top: 20px;
  }

  label {
    display: block;
  }

}

#show-container {

  .wrap {
    margin-top: 30px;
  }

  h3 {
    background-color: #c0c0c0;
    line-height: 2em;
  }

  .body-wrap {
    margin-top: 20px;
  }

  p {
    border: 1px solid #c0c0c0;
    line-height: 2em;
  }

  .link_to {

    margin-top: 30px;

    a:nth-child(n + 2) {
      margin-left: 10px;
    }

  }

}

#edit-container {

  .wrap {
    margin-top: 30px;
  }

  h2 {
    margin-top: 20px;
  }

  .button {
    margin-top: 20px;
  }

  .link-wrap {

    margin-top: 20px;

    a:nth-child(n + 2) {
      margin-left: 10px;
    }

  }

}
